<section class="bestsellers">
<div class="container">
<h2 class="bestsellers-title">BESTSELLERS</h2>
<div class="bestsellers-main-img">
    <img src="../img/bestsellersbed.jpg" alt="bed">
    <p class="bestsellers-text">The modern platform bed</p>
    <span class="bestsellers-span">750$</span>
</div>
<ul class="bestsellers-menu">


<li class="bestsellers-item">
    <img class="bestsellers-img" src="../img/bestsellersfurniture.jpg" alt="furniture">
    <p class="bestsellers-text">The Cozy Lounge Chair</p>
    <span class="bestsellers-span">230$</span>
</li>

<li class="bestsellers-item">
    <img class="bestsellers-img" src="../img/bestsellerstable.jpg" alt="table">
    <p class="bestsellers-text">The industrial accent chair</p>
    <span class="bestsellers-span">250$</span>
</li>

<li class="bestsellers-item">
    <img class="bestsellers-img" src="../img/bestsellerslamp.jpg" alt="lamp">
    <p class="bestsellers-text">The sleek stand</p>
    <span class="bestsellers-span">300$</span>
</li>

<li class="bestsellers-item">
    <img class="bestsellers-img" src="../img/bestsellersofa.jpg" alt="sofa">
    <p class="bestsellers-text">The minimalist sofa</p>
    <span class="bestsellers-span">650$</span>
</li>
















</ul>











    </div>
    </section>