<header class="header">
  <div class="container header-position" >
    <a class="logo" href="#"><img src="../img/minimal.png" alt="logo"></a>
    
    <ul class="nav">
      <li class="header-item"><a class="header-link" href="#">About us</a></li>

      <li class="header-item"><a class="header-link" href="#">Our products</a></li>

      <li class="header-item"><a class="header-link" href="#">Prices</a></li>

      <li class="header-item"><a class="header-link" href="#">Bestsellers</a></li>

      <li class="header-item"><a class="header-link" href="#">Reviews</a></li>

      <li class="header-item"><a class="header-link" href="#">Constants</a></li>
    </ul>
    <button type="button" class="burger">
    <svg class="burger-icon">
      <use href="../icons/symbol-defs.svg#icon-burger-menu">
      </use>
    </svg>
    </button>
  </div>
</header>
