<header class="header">
  <div class="container">
    <a class="logo" href="#">MINIMAL</a>
    <ul class="nav">
      <li class="header-item"><a href="#">About us</a></li>

      <li class="header-item"><a href="#">Our products</a></li>

      <li class="header-item"><a href="#">Prices</a></li>

      <li class="header-item"><a href="#">Bestsellers</a></li>

      <li class="header-item"><a href="#">Reviews</a></li>

      <li class="header-item"><a href="#">Constants</a></li>
    </ul>
  </div>
</header>
