<section class="newsletter">
  <div class="container">
    <div class="newsletter-left">
    <h2 class="newsletter-title">NEWSLETTER</h2>
    <p class="newsletter-text">Every week we will send you new designs and information about sales.</p>
    <form class="newsletter-form" action="">
      <label class="newsletter-label" for="#">
        <input class="newsletter-input" type="text" placeholder="Name" />
      </label>
      <label class="newsletter-label" for="">
        <input class="newsletter-input" type="email" placeholder="E-mail" />
      </label>
      <label class="newsletter-label" for="">
        <input class="newsletter-input" type="checkbox">
         Agree to subscribe to the newsletter
      </label>
      <button class="newsletter-button" type="submit">Send</button>
    </form>
    </div>
    <div class="newsletter-right">
        <img src="../img/newslettertable.jpg" alt="table">
    </div>
  </div>
</section>