<section class="our-product">
<div class="container">
    <h2 class="product-title">OUR PORDUCT</h2>
<ul class="product-menu">

<li class="product-item">
<img class="product-img" src="../img/productsfurniture.jpg" alt="furniture">
<p class="product-text">Minimalist storage solutions</p>
</li>

<li class="product-item">
<img class="product-img" src="../img/productsofa.jpg" alt="sofa">
<p class="product-text">Handcrafted minimalist seating</p>
</li>

<li class="product-item">
<img class="product-img" src="../img/productstable.jpg" alt="table">
<p class="product-text">Sleek and simple tables</p>
</li>

<li class="product-item">
<img class="product-img" src="../img/productschair.jpg" alt="chair">
<p class="product-text">Minimalist seating for every space</p>
</li>




</ul>









</div>
</section>