<section class="prices">
  <div class="container">
    <ul class="prices-menu">
      <li class="prices-item">
        <h3 class="prices-text">
            CHAIRS
        </h3>
        <span class="prices-span">from 200</span>
      </li>
      <li class="prices-item">
        <h3 class="prices-text">
           TABLES
        </h3>
        <span class="prices-span">from 250</span>
      </li>
      <li class="prices-item">
        <h3 class="prices-text">
         DRESSERS
        </h3>
        <span class="prices-span">from 300</span>
      </li>
      <li class="prices-item">
        <h3 class="prices-text">
        SOFAS
        </h3>
        <span class="prices-span">from 500</span>
      </li>
    </ul>
  </div>
</section>
